body {
    font-family: Cursive, Cursive;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
    text-align: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background: #45a049;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
